.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

body {
    background-color: #f0f2f5;
    background-image: linear-gradient(180deg, #78ce67 0%, #12ec2f 20%, #08ac31 40%, rgb(73, 122, 9) 60%, rgb(144, 194, 8) 80%, rgb(192, 228, 35) 100%);
    /* background-image: url("https://1.bp.blogspot.com/-fd1WXKk-TAc/XyqfngP4PiI/AAAAAAAAVMw/umQz3tkxtg43uPIy8W5og6gAkpCfjaTvACLcBGAsYHQ/w1563-h1563/bg-snell.png"); */
    background-size: cover;
    background-position: center;
    height: 100%;
    text-rendering: optimizeLegibility;
    background-repeat: no-repeat;
}

.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
    height: 90px;
    background: #11061f;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form {
    padding: 30px 25px 25px 25px;
}

.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid #2a104d;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: #71e4cd;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}

form .row input::placeholder {
    color: #999;
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #11061f;
    border: 1px solid #2a104d;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .pass {
    margin: -8px 0 20px 0;
}

.wrapper form .pass a {
    color: #2a104d;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #11061f;
    border: 1px solid #2a104d;
    cursor: pointer;
}

form .button input:hover {
    background: #047e0e;
}

.wrapper form .signup-link:hover {
    cursor: pointer;
}

.wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.wrapper form .signup-link a {
    color: #2a104d;
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
}


/* save news */

#save:hover {
    color: #047e0e;
}

.itemcontainer:hover {
    background-color: #047e0e;
    color: white;
    border-color: #047e0e;
}

.itemcontainer {
    font-weight: 500;
}